*.iml
.gradle
.idea
start.sh
.remoteX
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/notebook/dataset
/notebook/dataset-test
/notebook/dataset-douyin
/notebook/dataset-test-douyin
/notebook/model